.game-card-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    gap: 1rem;
    border-radius: 16px;
    border: 1px solid var(--blue);
    padding: 1rem;
    text-align: center;

    .game-card-form__label {
        display: flex;
        gap: 1rem;
        align-items: center;
        margin: auto;
        .game-card-form__input {
            width: 50px;
            aspect-ratio: 1;
            text-align: center;
        }
    }

    .button {
        grid-column: auto / span 3;
    }
}